.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section img {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  width: 250px;
  height: 140px;
  display: block;
}

.section h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.card {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #000000;
  opacity: 95%;
  border-width: 1px;
  padding: 25px;
  width: 1000px;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
}
