.itemContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-evenly;
  margin: 40px;
  padding: 20px;
  border-style: outset;
  position: relative;
  width: 250px;
  height: 400px;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
}

.imageContainer {
  width: 250px;
  height: 200px;
}

.itemContainer img {
  width: 250px;
  height: 140px;
  display: block;
}

.itemContainer h1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  inline-size: 240px;
  text-shadow: 2px 2px lightgray;
}

.infoBox {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  inline-size: 240px;
}

.price {
  text-decoration: solid;
  font-weight: bold;
}

.viewButton {
  background-color: #7fffd4;
  border-radius: 15px;
  border-style: offset;
  font-size: 16px;
  padding: 15px 32px;
}

.viewButton:hover {
  background-color: #d7fff2;
}

.deleteIcon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin: -395px 0 0 235px;
}

.deleteIcon img {
  width: 25px;
  height: 25px;
}

.deleteIcon:hover {
  width: 25px;
  height: 30px;
}
