/* Entire Page */
.section {
  display: flex;
  margin: 30px;
  justify-content: center;
}

/* Car Bill */
.offerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  padding: 30px;
  border-style: outset;
  border-width: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
}

.row {
  display: flex;
  flex-direction: row;
}

.rowElement {
  display: flex;
  width: 500px;
}

.offerIcon {
  position: absolute;
  top: 15px;
  right: 30px;
}

.offerIcon img {
  width: 80px;
  height: 80px;
}

.offerHeading {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.offerHeading h1 {
  margin: 0px;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offerHeading h2 {
  margin: 20px 10px 0px;
}

/* Bill Item */
.billContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px;
  padding: 15px;
  width: 1000px;
  background-color: #000080;
  color: #ffffff;
  font-size: 20px;
}

.billElement {
  display: flex;
  flex-direction: row;
}

.billLeftContainer {
  /* Icon, Status, Button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
}

.billIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
}

.checkmark img {
  margin-left: 20px;
  width: 95px;
  height: 95px;
}

.checkbox img {
  /* margin-left: -20px; */
  width: 75px;
  height: 75px;
}

.billStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 50px;
  width: 125px;
}

.billStatus button {
  width: 125px;
  height: 50px;
  border-color: #000080;
  border-radius: 5px;
  background-color: #7fffd4;
  color: #000080;
  font-weight: bold;
  font-size: 15px;
}

.billStatus button:hover {
  font-size: 16px;
  border: solid;
  border-color: #7fffd4;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.3),
    0 8px 12px 6px rgba(255, 255, 255, 0.15);
}

.billRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 840px;
  height: 200px;
}

.billHeader {
  margin-left: 10px;
  width: 840px;
  height: 50px;
}

.billHeader h2 {
  display: flex;
  margin: 0px;
}

.billDetails {
  width: 840px;
  /* border: solid; */
}

.billRow {
  display: flex;
  flex-direction: row;
}

.billRow label {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.billRowElements {
  margin: 0 10px 0;
  width: 400px;
}

.viewPaymentsButton {
  display: flex;
  align-items: center;
  margin: 1px;
  height: 60px;
}

.viewPaymentsButton button {
  width: 200px;
  height: 50px;
  border-color: #000080;
  border-radius: 5px;
  background-color: #7fffd4;
  color: #000080;
  font-weight: bold;
  font-size: 15px;
}

.viewPaymentsButton button:hover {
  font-size: 16px;
  border: solid;
  border-color: #7fffd4;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.3),
    0 8px 12px 6px rgba(255, 255, 255, 0.15);
}
