.table {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid;
  border-width: 1px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.columnHeader {
  font-weight: bold;
  padding: 5px;
  width: 200px;

}

.positionOdd {
  background-color: #ffffff;
}

.positionEven {
  background-color: #808080;
}

.paymentInfo{
  display: flex;
  padding: 5px;
  width: 200px;
}