.table {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid;
  border-width: 1px;
}

.row {
  display: flex;
  flex-direction: row;
}

.columnHeader {
  font-weight: bold;
}

.positionOdd {
    background-color: #ffffff;
}

.positionEven {
    background-color: #808080;
}