.table {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid;
  border-width: 1px;
}

.row {
  display: flex;
  flex-direction: row;
}

.columnBar {
  display: flex;
  align-content: space-evenly;
}

.columnHeader {
  font-weight: bold;
  padding: 5px;
}

.positionOdd {
  background-color: #ffffff;
}

.positionEven {
  background-color: #808080;
}
