/* Entire Page */
.section {
  display: flex;
  margin: 30px;
  justify-content: center;
}

/* Car Bill */
.offerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  padding: 30px;
  border-style: outset;
  border-width: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
}

.row {
    display: flex;
    flex-direction: row;
}

.rowElement {
    display: flex;
    width: 500px;
}

.icon {
  position: absolute;
  top: 15px;
  right: 30px;
}

.icon img {
  width: 80px;
  height: 80px;
}

.offerHeading {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.offerHeading h1 {
  margin: 0px;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offerHeading h2 {
  margin: 20px 10px 0px;
}

/* Bill Item */
.itemContainer {
  display: flex;
  margin: 15px 0 15px;
  padding: 15px;
  width: 1000px;
  background-color: #000080;
  color: #ffffff;
  font-size: 20px;
}

.itemElement {
  display: flex;
  flex-direction: row;
}
